<% if !current_user %>
<h1>Please Log in </h1>
	<%= link_to "Sign Up", new_user_registration_path %>
	<%= link_to "Sign In", new_user_session_path %>
<% else %>
<h1>Welcome <%= current_user.name %> !</h1> <h2><%= link_to "Log out", destroy_user_session_path, method: :delete %></h2> 
	<% Channel.all.each do |channel| %>
		<h4><%= channel.name.capitalize %></h4>
		----------------------------------
		<% channel.shows.each do |show| %>
			<h5><%= show.name.capitalize %></h5> 
			<%unless current_user.faviourite_shows.pluck(:show_id).include? show.id %>
				<%= link_to "Add to faviourite", faviourite_show_path(show.id, user_id: current_user.id, type: "faviourite"), method: :put%>
			<% else %>
			<%= link_to "Remove from faviourite", faviourite_show_path(show.id, user_id: current_user.id, type: "unfaviourite"), method: :put%>
			<% end %>
		<% end %></br>

	<%end%>
<% end %>
